//
//  Monitor.release.xcconfig
//  Monitor
//
//  Created by Fri on 2022/5/6.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
//#include "${PROJECT}/Pods/Target Support Files/Pods-Monitor/Pods-Monitor.release.xcconfig"
#include "Pods/Target Support Files/Pods-Monitor/Pods-Monitor.release.xcconfig"
